<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="pagetitle">Vaping Financial</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- <ion-img class="profileicon"src="assets/svgs/profileicon.png" ></ion-img>  -->
  <ion-card>
    <ion-card-header>
      <ion-img class="profileicon" src="assets/svgs/financial.svg"></ion-img>
    </ion-card-header>


    <ion-card-content>
      <h1 class="user" *ngIf="user"> Heres some financial information about your habit </h1>
      <!-- <ion-card>
        <ion-card-content>
          <p class="habit"> Each cigarette you smoke costs €{{CostPerCigarette}} . Your daily expense for smoking is €{{costPerDay}}. Each week smoking is costing you €{{costPerWeek}}</p>
        </ion-card-content>
      </ion-card> -->
      <ion-item></ion-item>
      <ion-item>
        <ion-label class="Startdate">Start Date</ion-label>
        <ion-datetime [(ngModel)]="startdate" disabled value></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label class="QuitDate">Quit Date</ion-label>
        <ion-datetime [(ngModel)]="quitdate" disabled value></ion-datetime>
      </ion-item>

      <ion-list>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col offset-10>
                <div class="FormTitle">Brand/Flavour: </div>
              </ion-col>
              <ion-col>
                <div class="FormResult">{{flavour}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col offset-10>
                <div class="FormTitle">Price of bottle: </div>
              </ion-col>
              <ion-col>
                <div class="FormResult">€{{priceofbottle}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>


        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col class="colwidth">
                <div class="FormTitle">Use per day: </div>
              </ion-col>
              <ion-col>
                <div class="FormResult">{{useperday}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col class="colwidth">
                <div class="FormTitle">Bottles per week: </div>
              </ion-col>
              <ion-col>
                <div class="FormResult">{{bottlespurchasedweekly}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col class="colwidth">
                <div class="FormTitle">Cost per day: </div>
              </ion-col>
              <ion-col>
                <div class="FormResult">€{{costPerDay}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col class="colwidth">
                <div class="FormTitle">Cost per week: </div>
              </ion-col>
              <ion-col>
                <div class="FormResult">€{{costPerWeek}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col class="colwidth">
                <div class="FormTitle">Cost per Month: </div>
              </ion-col>
              <ion-col>
                <div class="FormResult">€{{costPerMonth}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col class="colwidth">
                <div class="FormTitle">Cost per Year: </div>
              </ion-col>
              <ion-col>
                <div class="FormResult">€{{costPerYear}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>



      </ion-list>




    </ion-card-content>
  </ion-card>
</ion-content>