<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="pagetitle">Quit Vaping</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
 
  <ion-card>
    <ion-card-header>
      <ion-img class="quitformsvg" src="assets/svgs/snapvape.svg" viewBox="0 0 500 500" x="0px" y="0px" xml:space="preserve"></ion-img>
     <h1>Fill in your details below.</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label class="ionlabel" position="floating">Brand/Flavour</ion-label>
          <ion-input [(ngModel)]="flavour" type="text" placeholder="Brand/Flavour"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="ionlabel" position="floating">Price per bottle of liquid</ion-label>
          <ion-input [(ngModel)]="priceofbottle" type="text" placeholder="€ Price "> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="ionlabel" position="floating">Bottles purchased weekly</ion-label>
          <ion-input [(ngModel)]="bottlespurchasedweekly" type="text" placeholder="Weekly"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="ionlabel" position="floating">Use per day</ion-label>
          <ion-input [(ngModel)]="useperday" type="text" placeholder="Per day"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="ionlabel" >Start Date</ion-label>
          <ion-datetime [(ngModel)]="startdate" placeholder="Select Date"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label class="ionlabel" >Quit Date</ion-label>
          <ion-datetime [(ngModel)]="quitdate" placeholder="Select Date"></ion-datetime>
        </ion-item>
      </ion-list> 
      <div class="ion-padding">
        <ion-button expand="block" (click)="addVapeUser()" class="ion-no-margin">Finish</ion-button>  <!-- (click)="addUser()" --> 
      </div>  
    </ion-card-content>
  </ion-card>
</ion-content>