<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="pagetitle">About</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-img class="profileicon"src="assets/svgs/profileicon.png" ></ion-img>  -->
  <!-- <ion-card>

    <ion-card-header>
      <ion-img class="profileicon" src="assets/svgs/about.svg" viewBox="0 0 500 500" x="0px" y="0px"
        xml:space="preserve"></ion-img>
    </ion-card-header>

    <ion-card-content>
     WeQuit is a quit smoking application developed by 3 final year students studying Computing And Digital Media in GMIT Galway.
    </ion-card-content>
  </ion-card> -->


  <ion-content class="ion-padding" scroll-y="true">
    <ion-slides>
      <ion-slide>
        <img src="assets/svgs/about.svg">
        <h2><b>About WeQuit</b></h2>
        <ion-item-divider></ion-item-divider>
        <p class="p"> WeQuit is a quit smoking application developed my MRJ Technologies. WeQuit is here to aid you in your
          journey to a smoke/vape free life. </p>
        <br>
        <h5>Swipe to continue</h5>
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-slide>

      <ion-slide>
        <img src="assets/svgs/privacy.svg">
        <h2><b>Privacy Policy</b></h2>
        <ion-item-divider></ion-item-divider>
        <p class="p">
          Last Updated on 1st April, 2020. This Privacy Policy is effective immediately for Users after that date.
          WeQuit ("we," "us,") respect your privacy and are committed to protecting it through our compliance with this
          Privacy Policy. This policy describes:
          <br><br>
          the types of information that we may collect from you when you access or use our Mobile App and
          our practices for collecting, using, maintaining, protecting and disclosing that information.
          This policy applies only to information we collect through our Services and in the electronic communications
          sent through or in connection with our Services. </p>
        <br>


        <h2><b>Definitions</b></h2>
        <h3><b>User</b></h3>
        <ion-item-divider></ion-item-divider>
        <p class="p"> "User" or "you" or "your" refers to you, as a user of the Services. A user is someone who accesses or uses
          the Services for the purpose of sharing, displaying,
          hosting, publishing, transacting, uploading information or viewing pictures and includes other persons jointly
          participating in using the Services.
        </p>
       

        <h3><b>User Account</b></h3>
        <ion-item-divider></ion-item-divider>
        <p class="p"> "User Account" is a separate part of the Mobile App, containing User information required during
          registration.
        </p>
   
        <h3><b>Content</b></h3>
        <ion-item-divider></ion-item-divider>
        <p class="p"> "Content" will include (but is not limited to) images, photos, audio, video, location data, 'nearby places',
          and all other forms of information or data.
        </p>
        <p class="p">WeQuit qualifies as a Data Controller under the Regulation (EU) 2016/679 of The European Parliament and of
          The Council of 27 April 2016 (General Data Protection Regulation (the “GDPR”)). As such, we aim to comply with
          all legal obligations which the GDPR implies on Data Controllers.</p>

          <h3><b>What information do we collect from our users?</b></h3>
          <ion-item-divider></ion-item-divider>
          <p> We only collect the minimum data necessary for the app to function.
          </p>
          <p class="p">The information, through which the person may be identified, may include data, which the User voluntarily enters, 
            uses or provides when using the Services of the WeQuit App, or submits when creating a User Account. 
            WeQuit collects and uses the information to offer services to the user in order to use functionalities of the mobile app.</p>
          <p class="p">
          User Account information: Personal information, such as your username and other information you may provide with your account, 
          such as your habit information, that may be displayed as a part of your User Account.
        </p>
        <br>
        <ion-icon name="arrow-back"></ion-icon>

      </ion-slide>

      

    </ion-slides>
  </ion-content>