<ion-header>
  <ion-toolbar color="dark">
    
    <ion-title>Login/Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-img  width="1" height="1"  src="assets/img/wequit2.png"></ion-img>

<ion-content>
  <h3 class="ion-text-center"> Do you wish to </h3>
  <section class="full-width">
 <ion-button expand="full" color="medium"  [routerLink]="['/register']">Register</ion-button>
  </section>
<h3 class="ion-text-center"> Or </h3>
<section class="full-width">
  <ion-button expand="full" color="medium"  [routerLink]="['/login']">Login</ion-button>
   </section>
</ion-content>

