<!-- <ion-header>
  <ion-toolbar color="primary">
    
    <ion-title class="pagetitle">Login/Register</ion-title>
  </ion-toolbar>
</ion-header> -->






<ion-content>
  
    <ion-card>
      <ion-card-header class="cardheader">
        <ion-img class="logogyp"src="assets/img/animatedlogo.gif"></ion-img>
       <p class="welcome"> Welcome to WeQuit!</p>
      </ion-card-header>
    
      <ion-card-content>
  
        <h3 class="ion-text-center"> Do you wish to </h3>

        <div class="ion-padding">
          <ion-button expand="block" type="submit"  class="ion-no-margin" [routerLink]="['/register']" >REGISTER</ion-button>
        </div>
      <h3 class="ion-text-center"> OR </h3>
      <div class="ion-padding">
        <ion-button expand="block" type="submit"  class="ion-no-margin" [routerLink]="['/login']">LOGIN</ion-button>
      </div>
      
  
      </ion-card-content>
    </ion-card>
</ion-content>


