<ion-header>
  <ion-toolbar color="primary">
    
    <ion-title>Login/Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-img class="logogyp"src="assets/img/animatedlogo.gif"></ion-img>




<ion-content>
  
    <ion-card>
      <ion-card-header class="cardheader">
        Welcome to WeQuit!
      </ion-card-header>
    
      <ion-card-content>
  
        <h3 class="ion-text-center"> Do you wish to </h3>

        <div class="ion-padding">
          <ion-button expand="block" type="submit"  class="ion-no-margin" [routerLink]="['/register']" >Register</ion-button>
        </div>
      <h3 class="ion-text-center"> Or </h3>
      <div class="ion-padding">
        <ion-button expand="block" type="submit"  class="ion-no-margin" [routerLink]="['/login']">Log-in</ion-button>
      </div>
      
  
      </ion-card-content>
    </ion-card>
</ion-content>


