<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="afAuth.auth.currentUser">
    </ion-buttons>
    <ion-title class="pagetitle">Welcome</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content class="ion-padding" scroll-y="true">
    <ion-slides>
      <ion-slide>
        <ion-img class="profileicon" src="assets/svgs/welcome-01.svg" viewBox="0 0 500 500" x="0px" y="0px"
        xml:space="preserve"> </ion-img>
          <h2 class="user" *ngIf="user"> {{user.email}} </h2>
        <br>
        <p>
          Thanks for choosing WeQuit to aid you on your journey to a smoke free life. Whether you're using WeQuit to completely quit your habit or even just to
          cut down, you're at the right place. 
         </p>
         <h1>Best of luck!</h1>
        <h5>Swipe to continue</h5>
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-slide>

      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-card text-center padding [routerLink]="['/choosehabit']">
                <ion-icon name="cut"></ion-icon>
                <h2>Begin</h2>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        <h5>Go Back</h5>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-slide>
    </ion-slides>
  </ion-content>