<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="pagetitle">Tracker</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-card>
    <ion-card-header>
      <ion-img class="quitformsvg" src="assets/svgs/tracker.svg" viewBox="0 0 500 500" x="0px" y="0px"
        xml:space="preserve"></ion-img>
      <p>You <b>were</b> smoking an average of {{CigarettesADay}} cigarettes a day. Each cigarette you smoked cost
        €{{CostPerCigarette}}.
        Your <b>old</b> habit was costing you €{{costPerDay}} per day.</p>
      <h2>How many Cigarettes did you smoke today?</h2>
    </ion-card-header>
    <ion-card-content>

      <ion-list>
        <ion-item>
          <ion-label class="ionlabel" position="floating">Amount</ion-label>
          <ion-input [(ngModel)]="numcigtoday" (change)='onChange()' type="number"></ion-input>
        </ion-item>

      </ion-list>
      <div class="ion-padding">
        <ion-button expand="block" (click)="onChange()" class="ion-no-margin" id="submitBtn">Submit</ion-button>
      </div>


    </ion-card-content>
  </ion-card>
</ion-content>