<ion-app>
  <ion-split-pane >
    <ion-menu  side="start" type="overlay" >
      <ion-header >
        <ion-toolbar color="#80BCFF">
          <ion-title class="menu" text-align="center">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
          <ion-list>
            <ion-menu-toggle>
              <ion-item [routerLink]="['/home']">
                <ion-icon name="home"></ion-icon>
                <ion-label> Home</ion-label>
              </ion-item>
              <ion-item [routerLink]="['/profile']" >
              <ion-icon name="person"></ion-icon>
               <ion-label>Profile</ion-label>
            </ion-item> 
            <ion-item [routerLink]="['/journalEntryList']">
              <ion-icon name="book"></ion-icon>
              <ion-label>Diary</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/financial-page']" >
              <ion-icon name="cash"></ion-icon> 
               <ion-label>Smoking Financial</ion-label>
            </ion-item> 
            <ion-item [routerLink]="['/vapingfinancial']" >
              <ion-icon name="cash"></ion-icon> 
               <ion-label>Vaping Financial</ion-label>
            </ion-item> 
            <ion-item [routerLink]="['/facts']" >
              <ion-icon name="logo-no-smoking"></ion-icon>
              <ion-label>Health</ion-label>
            </ion-item> 
            <ion-item [routerLink]="['/quit-form']" >
              <ion-icon name="md-clipboard"></ion-icon>
               <ion-label>Cigarette Form</ion-label>
            </ion-item> 
            <ion-item [routerLink]="['/vapeform']">
                <ion-icon name="md-clipboard"></ion-icon>
                <ion-label>Vape Form</ion-label>
              </ion-item>
            <ion-item [routerLink]="['/chatforum']" >
              <ion-icon name="chatbubbles"></ion-icon>
               <ion-label>Chatroom</ion-label>
            </ion-item> 
            <ion-item [routerLink]="['/mediation-player']" >
              <ion-icon name="body"></ion-icon>
               <ion-label>Meditation</ion-label>
            </ion-item> 
            
            
            <ion-item button (click)="signOut()"> 
              <ion-icon  name="log-out"></ion-icon>
               <ion-label>Logout</ion-label>
            </ion-item> 




            <!-- <ion-button color="danger" expand="full" *ngIf="afAuth.auth.currentUser" (click)="signOut()"  >
              Sign Out
            </ion-button> -->


            <!-- <ion-icon name="calculator"></ion-icon> to be used for financial page  -->

            
            
            
          </ion-menu-toggle>
          </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
