<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="pagetitle">VR App</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-content class="ion-padding" scroll-y="true">

    <ion-img class="vrpagesvg" src="assets/svgs/VR.svg" viewBox="0 0 500 500" x="0px" y="0px" xml:space="preserve">
    </ion-img>
    <h2><b>Download the WeQuit VR App!</b></h2>
    <ion-item-divider></ion-item-divider>
    <p class="p"> The WeQuit VR App is designed to help you crush them cravings when they're strong. Use the VR
      meditation feature or play our VR game.</p>

    <div class="ion-padding">
      <ion-button expand="block" (click)="openF1()" class="ion-no-margin" id="submitBtn">Download</ion-button>
    </div>


  </ion-content>