.avi{
    margin: auto;
}

.profileicon{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.user{
text-align: center;
font-weight: 400;
font-family: 'Ambit-SemiBold';
color: black;
}

.FormTitle{
    text-align: left;
    color:black;
    font-weight: bold;
    font-family: 'Ambit-SemiBold';
   
   
}

.FormResult{
    color:black;
  text-align: right;
  font-family: 'Ambit-Regular';

}


.Startdate{
    font-weight: bold;
    color: black;
    text-align: left;
}

.QuitDate{
    font-weight: bold;
    color: black;
    text-align: left;
}



ion-col > div {
   
    padding: 5px;
    column-width: 200px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    overflow: hidden;
  }

  ion-content{
  
    --background: url('../../assets/img/BG.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

ion-card{
    margin-top: 0em;
    background-color:transparentize($color:#FFFFFF, $amount: 0);
    color: black;
  }

  .pagetitle{
    font-family: 'Ambit-Black';
    font-size: 1.5em;
}