<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="pagetitle">Smoking facts</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll-y="true" color="dark"> 
 <ion-slides> 
 <ion-slide> 
 <img src="assets/img/quit.png"> 
 <h2><b>Smoking in Ireland</b></h2> 
 <p>  In Ireland, smoking is the leading cause of avoidable death. Nearly 6,000 
      people die in Ireland each year from the effects of smoking and thousands 
      of others suffer from smoking-related diseases. </p> 
        <br>
      <ion-button fill="outline" slot="end" (click)="openF1()">Source</ion-button>
 </ion-slide> 
 <ion-slide> 
 <img src="assets/img/Whats-in-a-cigarette.png"> 
 <h2><b>Chemicals in cigarettes</b></h2> 
 <p> Cigarette smoke contains over 4,000 chemicals, including approximately 69 known
       cancer causing carcinogenic chemicals as well as over 400 other toxins. Nicotine 
       is one of the main ingredients in a cigarette and it is a highly addictive. Smoke 
       containing nicotine is inhaled into the lungs, and the nicotine reaches the brain
        in just six seconds. Cigarette smoke contains carbon monoxide, a colourless,
         odorless, poisoness gas that is released on combustion. In smokers, carbon monoxide 
         readily displaces Oxygen in the bloodstream and deprives the heart, brain 
         and other vital organs of Oxygen. </p> 
           <br>
      <ion-button fill="outline" slot="end" (click)="openF2()">Source</ion-button>
 </ion-slide> 
 <ion-slide> 
 <img src="assets/img/smh.png"> 
 <h2><b>Smoking and mental health</b></h2> 
  <p>People who have a serious mental illness, such as schizophrenia or bipolar
       disorder, and those who have a common mental disorder, such as depression
        or anxiety, are at greater risk of a range of medical conditions compared 
        to the general population. They experience physical illnesses more
         frequently and in some cases more severely; and they also have a
          considerably shorter life expectancy compared to those without a mental 
          illness. The reasons for this are multifaceted; however it is the high 
          rates of smoking in this population that exacerbate these health inequalities.
           For people with mental illness who smoke, stopping smoking will have 
           the greatest impact on their health.</p> 
             <br>
      <ion-button fill="outline" slot="end" (click)="openF3()">Source</ion-button>
  </ion-slide> 
  <ion-slide> 
  <img src="assets/img/brock1.jpg"> 
  <h2><b>Smoking and pregnancy</b></h2> 
  <p>Tobacco smoking during pregnancy increases the risk of the mother having complications
       during pregnancy and the baby being born with low birthweight. Carbon Monoxide and 
       other contents of cigarettes have harmful effects on the baby’s growth and development.</p> 
         <br>
      <ion-button fill="outline" slot="end" (click)="openF4()">Source</ion-button>

  </ion-slide> 
 </ion-slides> 
  
 



</ion-content>
