<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="pagetitle">Health</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll-y="true"> 
 <ion-slides> 
 <ion-slide> 
 <img src="assets/img/brain.svg"> 
 <h2><b>Welcome To The Health Page</b></h2> 
 <ion-item-divider ></ion-item-divider>
 <p>  We've compiled a bunch of external resources for you to read at your own leisure. </p> 
        <br>

    <h5>Swipe to continue</h5>
 </ion-slide> 
 <ion-slide> 
 <img src="assets/img/quit-smoking.svg"> 
 <h2><b>Smoking in Ireland</b></h2> 
 <ion-item-divider ></ion-item-divider>
 <p>  In Ireland, smoking is the leading cause of avoidable death. Nearly 6,000 
      people die in Ireland each year from the effects of smoking and thousands 
      of others suffer from smoking-related diseases. </p> 
        <br>
      <ion-button fill="solid" slot="end" (click)="openF1()">Source</ion-button>


    <h5>Swipe to continue</h5>
 </ion-slide> 
 <ion-slide> 
 <img src="assets/img/death.svg" > 
 <h2><b>Chemicals in cigarettes</b></h2> 
  <ion-item-divider ></ion-item-divider>


 <p> Cigarette smoke contains over 4,000 chemicals, including approximately 69 known
       cancer causing carcinogenic chemicals as well as over 400 other toxins.<br>
        
        Nicotine is one of the main ingredients in a cigarette and it is a highly addictive. Smoke 
       containing nicotine is inhaled into the lungs, and the nicotine reaches the brain
        in just six seconds. <br>
        
        Cigarette smoke contains carbon monoxide, a colourless,
         odorless, poisoness gas that is released on combustion. In smokers, carbon monoxide 
         readily displaces Oxygen in the bloodstream and deprives the heart, brain 
         and other vital organs of Oxygen. </p> 
           <br>
      <ion-button fill="solid" slot="end" (click)="openF2()">Source</ion-button>
          <h5>Swipe to continue</h5>

 </ion-slide> 
 <ion-slide> 
 <img src="assets/img/healthcare.svg" > 
 <h2><b>Smoking and mental health</b></h2> 
  <ion-item-divider ></ion-item-divider>

  <p>People who have a serious mental illness, such as schizophrenia or bipolar
       disorder, and those who have a common mental disorder, such as depression
        or anxiety, are at greater risk of a range of medical conditions compared 
        to the general population.
        <br>
         They experience physical illnesses more
         frequently and in some cases more severely; and they also have a
          considerably shorter life expectancy compared to those without a mental 
          illness. 
          <br>
          The reasons for this are multifaceted; however it is the high 
          rates of smoking in this population that exacerbate these health inequalities.
           For people with mental illness who smoke, stopping smoking will have 
           the greatest impact on their health.</p> 
             <br>
      <ion-button fill="solid" slot="end" (click)="openF3()">Source</ion-button>
          <h5>Swipe to continue</h5>

  </ion-slide> 
  <ion-slide> 
  <img src="assets/img/pregnant.svg" > 
  <h2><b>Smoking and pregnancy</b></h2> 
   <ion-item-divider ></ion-item-divider>

  <p>Tobacco smoking during pregnancy increases the risk of the mother having complications
       during pregnancy and the baby being born with low birthweight. Carbon Monoxide and 
       other contents of cigarettes have harmful effects on the baby’s growth and development.</p> 
         <br>
      <ion-button fill="solid" slot="end" (click)="openF4()">Source</ion-button>
          <h5>Swipe to continue</h5>


  </ion-slide>

  <ion-slide> 
 <img src="assets/img/reject.svg"> 
 <h2><b>Second-hand Smoke</b></h2> 
 <ion-item-divider ></ion-item-divider>
 <p>  Second-hand smoke is the smoke that fills restaurants, offices or other 
    enclosed spaces when people burn tobacco products such as cigarettes, bidis and water-pipes. 
    There are more than 7000 chemicals in tobacco smoke, of which at least 250 
    are known to be harmful and at least 69 are known to cause cancer. <br>
       <ul>
        <li>In adults, second-hand smoke causes serious cardiovascular and respiratory diseases, including coronary heart disease and lung cancer.
         In infants, it raises the risk of sudden infant death syndrome. In pregnant women, it causes pregnancy complications and low birth weight.</li>
        <li>Almost half of children regularly breathe air polluted by tobacco smoke in public places.</li>
        <li>Second-hand smoke causes more than 1.2 million premature deaths per year.</li>
        <li>65 000 children die each year from illnesses attributable to second-hand smoke.</li>
        </ul>
       
      <ion-button fill="solid" slot="end" (click)="openF5()">Source</ion-button>


    <h5>Swipe to continue</h5>
 </ion-slide> 

  <ion-slide> 
 <img src="assets/img/smoking.svg"> 
 <h2><b>Health Benefits of Quitting</b></h2> 
 <ion-item-divider ></ion-item-divider>
 <p class="facts">  When you quit smoking, the health benefits start right away. <br>
       <h3>After 20 Minutes</h3>
       <p class="facts">Your circulation will improve, and your blood pressure and heart rate will get lower. This immediately reduces your risk of a heart attack.</p>
<ion-item-divider ></ion-item-divider>
       <h3>After 8 Hours</h3>
       <p class="facts">The nicotine and carbon monoxide levels in your blood go down, and the oxygen level rises.</p>
<ion-item-divider ></ion-item-divider>
       <h3>After 48 Hours</h3>
       <p class="facts">The nicotine and carbon monoxide have left your body. Your sense of smell and taste will start to improve.</p>
<ion-item-divider ></ion-item-divider>
       <h3>After 72 Hours</h3>
       <p class="facts">Your breathing will improve and your energy levels will increase.</p>
<ion-item-divider ></ion-item-divider>
       <h3>After 2-3 Months</h3>
       <p class="facts">Your lung capacity could increase by up to 30%.</p>
<ion-item-divider ></ion-item-divider>
       <h3>After 1 Year</h3>
       <p class="facts">Your chance of having a heart attack drops by half.</p>
<ion-item-divider ></ion-item-divider>
       <h3>After 5 Years</h3>
       <p class="facts">The risk of smoking-related cancers is greatly reduced.</p>
<ion-item-divider ></ion-item-divider>
       <h3>After 10 Years</h3>
       <p class="facts">The risk of lung cancer is reduced by half.</p>
<ion-item-divider ></ion-item-divider>
       <h3>After 15 Years</h3>
       <p class="facts">The risk of having a heart attack is the same as a non-smoker.</p>
 <ion-item-divider ></ion-item-divider>      

       
      <ion-button fill="solid" slot="end" (click)="openF6()">Source</ion-button>


    <h5>Swipe to continue</h5>
 </ion-slide> 
 </ion-slides> 
  
 



</ion-content>
