ion-content, ion-list, ion-item{
    --background: var(--ion-color-dark);
    --ion-background-color: var(--ion-color-dark);
}

.meditationpng{
    margin-top: 10%;
 
    width: 250px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;

}