<ion-header>
    <ion-buttons slot="start" *ngIf="afAuth.auth.currentUser">
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>
</ion-header>

<ion-content class="contentBG">

      <ion-img class="logogyp" src="assets/img/animatedlogo.gif" *ngIf="afAuth.auth.currentUser"></ion-img>
 

    
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-card text-center padding   [routerLink]="['/journalEntryList']">
          <ion-icon name="book"></ion-icon>

          <h2>Diary</h2>
       </ion-card>
        </ion-col>

        <ion-col col-6>
          <ion-card text-center padding  [routerLink]="['/facts']">
  <ion-icon name="bulb"></ion-icon>
          <h2>Facts</h2>
          </ion-card>
        </ion-col>
      </ion-row>
  


      <ion-row>
        <ion-col col-6>
           <ion-card text-center padding  [routerLink]="['/quit-form']">
  <ion-icon name="md-clipboard"></ion-icon>

          <h2>Quit Form</h2>
          
         </ion-card>
        </ion-col>

        <ion-col col-6>
        <ion-card text-center padding  [routerLink]="['/chatforum']">
  <ion-icon name="chatbubbles"></ion-icon>

          <h2>Chatroom</h2>
          </ion-card>
        </ion-col>
      </ion-row>
 


      <ion-row>
        <ion-col col-6>
        <ion-card text-center padding  [routerLink]="['/financial-page']">
            <ion-icon name="cash"></ion-icon>

          <h2>Financial</h2>
          </ion-card>
        </ion-col>

        <ion-col col-6>
        <ion-card text-center padding  [routerLink]="['/profile']">
  <ion-icon name="person"></ion-icon>

          <h2 >Profile</h2>
          </ion-card>
        </ion-col>
      </ion-row>


 
      <ion-row>
        <ion-col col-6>
        <ion-card text-center padding  [routerLink]="['/mediation-player']">
  <ion-icon name="body"></ion-icon>

          <h2>Meditation</h2>
       </ion-card>
        </ion-col>

        <ion-col col-6>
        <ion-card text-center padding color="danger"  (click)="signOut()">
  <ion-icon name="log-out"></ion-icon>

          <h2>Logout</h2>
        </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>

   


