<ion-header>
  <ion-toolbar color="primary">
    <ion-title>WeQuit</ion-title>
    <ion-buttons slot="start" *ngIf="afAuth.auth.currentUser">
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img class="logogyp" src="assets/img/animatedlogo.gif" *ngIf="afAuth.auth.currentUser"></ion-img>
    </ion-card-header>

    
    <ion-grid>
      <ion-row>
        <ion-col>
          
          <ion-button expand="block"  class="btn1" [routerLink]="['/journalEntryList']">Diary</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block"  class="btn1" [routerLink]="['/facts']">Smoking Facts</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block"  class="btn1" [routerLink]="['/quit-form']">Quit Forn</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block"  class="btn1" [routerLink]="['/chatforum']" >WeQuit Forum</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block"  class="btn1"  [routerLink]="['/financial-page']">Financial</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block"  class="btn1" [routerLink]="['/profile']" >Profile</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block"  class="btn1" [routerLink]="['/mediation-player']">Meditation</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block"  class="btn1" color="danger" (click)="signOut()">Logout</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    
   

    <!-- <div class="ion-padding">
      <ion-button expand="block" (click)="addUser()" class="ion-no-margin">Finish</ion-button>
    </div> -->



    <!-- <ion-card-content>
      Tobacco smoking during pregnancy increases the risk of the mother having complications
      during pregnancy and the baby being born with low birthweight. Carbon Monoxide and
      other contents of cigarettes have harmful effects on the baby’s growth and development.
    </ion-card-content> -->

   









  <!-- <p *ngIf="afAuth.auth.currentUser">
    Thank you for signing up to WeQuit. This app is to aid you in your persute of a healthier lifestyle, 
    by quitting smoking and/or vaping.
  </p> -->