ion-slides{
    height: 100%;
}

ion-slide{
    display: block;
}

ion-label, .select-text{
    margin-left: 10px;
}

ion-label{
    font-size: 2em;
}

p{
    font-size: 2em;
    font-style: italic;
    color:blue;
}

ion-input{
     background-color:rgb(187, 184, 184);
     
}